@import "../../common/common.less";

.quest-screen {
	overflow: hidden;

	.icon {
		font-size: 64px;
	}

	.quest-selection {
		display: flex;

		.quest {
			flex-basis: 320px;
			border-right: 1px solid @border-color;
			height: 512px;
			display: flex;
			flex-direction: column;

			&:last-child {
				border-right: 0;
			}

			.section {
				display: flex;
				justify-content: center;
				align-items: center;

				&.quest-icon {
					flex: 0 1 100px;
					align-items: flex-end;

					.icon {
						width: 64px;
						height: 64px;
					}
				}

				&.requirements {
					flex: 1 0;

					.quest-requirements {
						flex: 0 1 280px;

						.row {
							display: flex;
							align-items: center;

							i {
								flex: 0 1 26px;
							}

							.name {
								flex: 1 0 168px;
							}

							.values {
								flex: 0 1 86px;
								text-align: right;
							}
						}
					}
				}

				&.reward {
					flex: 0 1 100px;

					.chance {
						font-weight: bold;
						font-size: 1.2em;
					}

					.item-reward-container {
						margin-right: 10px;
					}
				}

				&.start-button {
					flex: 0 1 90px;
					align-items: flex-start;
				}
			}
		}
	}

	.quest-progress-bar {
		width: 600px;
		height: 34px;
		border: 1px solid @border-color;
		border-radius: 4px;

		.bar {
			height: 32px;
			background: #300030;
			border-right: 1px solid @border-color;
			overflow: hidden;
			position: relative;

			.flash {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;

				background: @border-color;
				width: 0;
				margin-top: -16px;
				height: 32px;
				box-shadow: 0px 0px 100px 10px rgba(255,0,255,1);
				transform: rotate(45deg);
				animation: progressBarFlash 1s ease-in-out infinite;
			}
		}
	}
}

@keyframes progressBarFlash {
	from { left: -100px }
	to { left: calc(100% + 100px) }
}
