@import "../../common.less";

.navbar {
	border: 1px solid @border-color;
	border-radius: 4px;
	height: 56px;
	margin-bottom: 6px;
	display: flex;
	color: #fff;
	overflow: hidden;

	.menu {
		flex: 0 1 auto;
		display: flex;
		overflow: hidden;

		.navbar-item {
			border: 0;
			border-left: 1px solid @border-color;
			border-radius: 0;
			width: 64px;

			i {
				font-size: 24px;
			}

			&.active {
				background: @background-color;
			}
		}
	}
}
