@import "../../common.less";

.navbar {
	border: 1px solid @border-color;
	border-radius: 4px;
	height: 56px;
	margin-bottom: 8px;
	display: flex;
	color: #fff;
	overflow: hidden;

	.status-bar {
		flex: 1 0 auto;
		display: flex;
		align-items: center;
		overflow: hidden;
		padding-left: 36px;
	}

	.menu {
		flex: 0 1 383px;
		display: flex;
		overflow: hidden;

		.navbar-item {
			width: 128px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-left: 1px solid @border-color;

			&:hover {
				background: @background-color;
			}

			&.active {
				background: @background-color;
			}
		}
	}
}
