@import "../../common.less";

.item {
	display: inline-block;
	width: 64px;
	height: 64px;

	&.head1 { background: url(./images/head1.png); }
	&.head4 { background: url(./images/head4.png); }

	&.chest1 { background: url(./images/chest1.png); }

	&.legs1 { background: url(./images/legs1.png); }

	&.feet1 { background: url(./images/feet1.png); }

	&.hands1 { background: url(./images/hands1.png); }

	&.ring1 { background: url(./images/ring1.png); }

	&.mainHand1 { background: url(./images/main_hand1.png); }

	&.offHand1 { background: url(./images/off_hand1.png); }
}
